<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello world</title>
        <link rel="stylesheet" href="/css/app.css"></link>
        <meta property="X-CSRF-TOKEN" th:content="${_csrf.token}" />
    </head>
    <body>
        <div id="app">
            <Navbar v-if="$route.path != '/login'"></Navbar>
            <router-view></router-view>
        </div>
        <script th:if="${auth}" th:inline="javascript">globalThis.auth = [[${auth}]];</script>
        <script src="/js/index.js"></script>
    </body>
</html>
